/*!
 * faw_nav Free 0.0.1 by @faw
 * 
 */
.faw-nav {
	display: none;
	background-color: rgb(79, 4, 4);
	margin-top: 40px;
	z-index: 1000;
}

.faw-nav-container {
	width: 100%;
	height: 34px;
	position: relative;
	overflow: hidden;
	margin: 0px 0px;
	padding: 0px;
	font-family: Microsoft YaHei, Segoe UI, Tahoma, Arial, Verdana, sans-serif;
}

.faw-nav-container ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.faw-nav-container div{
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
	line-height: 29px;
	color: #fff;
	float: right;
	margin-right: 5px;
	cursor: default ;
}

.faw-nav-container li {
	display: block;
	float: left;
	width: 134px;
	height: 32px;
	line-height: 32px;
	padding-right: 2px;
	list-style: none;
}

.faw-nav-container li a {
	color: #fff;
	text-decoration: none;
	display: block;
	position: relative;
	height: 32px;
	background-color: rgba(0, 0, 0, 0.45);
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	transition: 0.5s;
}

.faw-nav-container  li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: #cc101f;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.faw-nav-container li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.faw-nav-container li a:hover,
.faw-nav-container li a.cur {
	background: #222;
}

.faw-nav-container li a span {
	display: block;
	position: absolute;
	left: 10px;
	top: 0;
	font-weight: normal;
	font-size: 10px;
	-webkit-text-size-adjust: none;
	opacity: 0.6;
	filter: alpha(opacity=60);
}



